<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="fb-root"></div>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                @Html.ActionLink("SnappyCart", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
            <div class="row">
                <a href="/Shopping/ShoppingCart">
                    <i class='fas fa-shopping-cart' style='font-size:24px; position: absolute; right: 90px; top: 10px; color: red; background-color:#ee7639'></i>
                </a>
            </div>

            <div class="loginButton">
                @* turn on login button if user is null turn it off if user is not null *@
                @if(Session["SnappyUser"] == null)
                {
                    @Html.ActionLink("Login", "Login", "Home", false, new { style = "position:absolute; right:10px; top:10px;" })
                }
                else
                {
                    @Html.ActionLink("Sign Out", "Logoff", "User", false, new { style = "position: absolute; right:10px; top:10px;" })
                }

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
        <hr />
        <footer style="margin-top:-93px">
                <div style="left: 20px; text-align: left; background-color: #ee7639;">
                    <ul>

                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>

            <br />

            <div class="row" style="text-align:center">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>            
        </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
