@model SnappyCart.Models.Users
@{
    ViewBag.Title = "index";
}



<h2>index User Profile</h2>

@* user name
    first name
     last name
     userID?
     products ordered in the past
     current products in cart?
     change password and confirm password

*@
<div class="container">
    <div class="userProfile">
        <form action="/examples/actions/confirmation.php" method="post">
            @Html.LabelFor(a => a.UserName)
            @Html.TextBoxFor(a => a.UserName)
            @Html.DisplayText( Model.UserName)
            <br />
            @Html.LabelFor(a=> a.FirstName)
            <br />
            @Html.LabelFor(a=> a.LastName)
            
        </form>
    </div>
</div>
