@model IEnumerable<SnappyCart.Models.selectUserProductDetailsResult>


    @{
    ViewBag.Title = "ShoppingCart";
    }

    <h2>ShoppingCart</h2>

    @if (Model == null)
    {
    <div> Your cart is empty</div>
    }
    else
    {

    <div>        
        <table class="table">
            <tr>
                <td>User ID</td> <!--Not needed, never show-->
                <td>Product ID</td> <!--Not needed, never show-->
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.UserID</td>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
                <td>@item.ProductDescription</td>
                <td>@item.ProductPrice</td>
            </tr>
            }
        </table>
    </div>
    <div>

    </div>



    }



